<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
<title>Hestia</title>
</head>
<body>
<div layout:fragment="content">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li>About Page</li>
          </ol>
        </div>

      </div>
    </section>
    <!-- End Breadcrumbs -->




    
      
        
        
       <!-- ======= About Section ======= -->
   
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="assets/img/about.jpg"  style="width: auto; height: 50vh;">
          </div>
          
            <h3>About Us</h3>
            <p>
              Hestia is an air conditioner cleaning company based in Hong Kong. Founded in March 2022, our promise is to deliver a tailored, professional and personable service to all our commercial and domestic customers. We specialize in refreshing and sanitizing any type 
              of air conditioner for domestic and commercial and providing safe, natural and environmentally aware air conditioner cleaning solutions for businesses, workplaces and residences ensuring that the environment that employees, customers and loved ones experience is both safe and clean.
            </p>

            <div class="row icon-boxes">
              <div class="col-md-6">
                <i class="bx bx-receipt"></i>
                <h4>Note</h4>
                <p>Given the recent challenges with COVID-19, our teams in the field have received additional support and communications on health best practices. We are stressing precautions such as hand hygiene and cancelling appointments in the case of any illness. </p>
              </div>

            </div>
          </div>
        </div>

     
    
        
      </div>
    </section>

</div>
</body>
</html>