<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
<title>Hestia</title>
</head>
<body>
<div layout:fragment="content">

    <!-- ======= Hero Section ======= -->
  <section id="hestia" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to <span>Hestia</span></h1>
      <h2>Comfortable air conditioning that is one class higher, can be installed freely according to your home</h2>
      <a href="/service" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= What We Do Section ======= -->
    <section id="what-we-do" class="what-we-do">
      <div class="container">

        <div class="section-title">
          <h2>What We Do</h2>
          <p>Your Order TimeLine</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Congrats on your Purchase!</a></h4>
              <p>If you used a credit card, expect a charge right away. If you ordered through 
              Affirm, expect a charge 30 days after your order ships.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Get your Space Approved</a></h4>
              <p>Make sure you complete the pre-install survey so we can approve your space and process your order.
               Expect a response 7-10 days after submission.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Service Day</a></h4>
              <p>Our installation team will typically call 30 minutes before they arrive. To ensure everyone's safety, our team practices social distancing while using gloves,
               masks, and hand sanitizer, and asks that you do the same.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End What We Do Section -->
    
    

</div>
</body>
</html>