<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>
<div layout:fragment="content">




 <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>User List</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li>Users Management</li>
          </ol>
        </div>

      </div>
    </section>
    <!-- End Breadcrumbs -->


    <section class="inner-page">
      <div class="container">
        <!-- Start -->
        
	<form class="form-horizontal" th:action="@{'/user/update/'+${user.id}}" method="put">  
	              <div class="col-lg-10">
	                <section class="panel">
	                  <header class="panel-heading">
	                   <b>Edit User Detail</b>
	                  </header>
	                  <div class="panel-body">
	                      
	                      
	                      <div class="form-group">
	                      <label class="control-label col-sm-4">ID</label>
	                      <div class="col-sm-6">
	                      <input name="id" class="form-control" th:value="${user.id}" type="text" readonly>
	                      </div>
	                      </div>
	                      
	                      <div class="form-group">
	                        <label class="control-label col-sm-4">First Name</label>
	
	                        <div class="col-sm-5">
	                          <input name="firstname" type="text"  th:value="${user.firstname}" class="form-control">
	                        </div>
	                      </div>
	
		                  <div class="form-group">
	                        <label class="control-label col-sm-4">Last Name</label>
	
	                        <div class="col-sm-5">
	                          <input name="lastname" type="text"  th:value="${user.lastname}" class="form-control">
	                        </div>
	                      </div>
	                      
	                      <div class="form-group">
	                        <label class="control-label col-sm-4">Username</label>
	
	                        <div class="col-sm-5">
	                          <input name="username" type="text"  th:value="${user.username}" class="form-control">
	                        </div>
	                      </div>
	                      
	                      <div class="form-group">
	                        <label class="control-label col-sm-4">password</label>
	
	                        <div class="col-sm-5">
	                          <input name="password" type="text"  th:value="${user.password}" class="form-control">
	                        </div>
	                      </div>
	                      
	                     <div class="form-group">
	                        <label class="control-label col-sm-4">email</label>
	
	                        <div class="col-sm-5">
	                          <input name="email" type="text"  th:value="${user.email}" class="form-control">
	                        </div>
	                      </div>

	                    
	
	                  </div>
	                </section>
			                <section class="panel">
			
				                  <div class="panel-body">
				                    <button type="submit" class="btn btn-success">Save</button>
				                    <a href="/user" class="btn btn-warning">Exit</a>
				                  </div>
			                </section>
	              </div>
				</form>
       
       
       
       <!-- End --> 
      </div>
    </section>

</div>
</body>
</html>