<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
<title>Hestia</title>
</head>
<body>
<div layout:fragment="content">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Aircon Service Management</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li>Aircon Service Management</li>
          </ol>
        </div>

      </div>
    </section>
    <!-- End Breadcrumbs -->


    <section class="inner-page">
      <div class="container">
        
        
               <!-- Start -->  
	<form class="form-horizontal"  method="put">  
	              <div class="col-lg-10">
	                <section class="panel">
	                  <header class="panel-heading">
	                   <b>Edit Aservice Detail</b>
	                  </header>
	                  <div class="panel-body">
	                      
	                      
	                      <div class="form-group">
	                      <label class="control-label col-sm-4">ID</label>
	                      <div class="col-sm-6">
	                      <input name="id" class="form-control" th:value="${aservice.id}" type="text" readonly>
	                      </div>
	                      </div>
	                      
	                      <div class="form-group">
	                        <label class="control-label col-sm-4">Aircon Service Name</label>
	
	                        <div class="col-sm-5">
	                          <input name="name" type="text"  th:value="${aservice.sname}" class="form-control" readonly>
	                        </div>
	                      </div>
	
		                  <div class="form-group">
	                        <label class="control-label col-sm-4">Price</label>
	
	                        <div class="col-sm-5">
	                          <input name="price" type="number"  th:value="${aservice.price}" class="form-control" readonly>
	                        </div>
	                      </div>
	                      
	                      <div class="form-group">
	                        <label class="control-label col-sm-4">Description</label>
	
	                        <div class="col-sm-5">
	                          <input  name="description" type="text"  th:value="${aservice.description}" class="form-control" readonly>
	                        </div>
	                      </div>
	                      


	                    
	
	                  </div>
	                </section>
			                <section class="panel">
			
				                  <div class="panel-body">
				                    <button type="submit" disabled class="btn btn-success">Save</button>
				                    <a href="/aservice" class="btn btn-warning">Exit</a>
				                  </div>
			                </section>
	              </div>
				</form>
        
      </div>
    </section>

</div>
</body>
</html>