<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
<title>Hestia</title>
</head>
<body>
<div layout:fragment="content">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Order Management</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li>Order Management</li>
          </ol>
        </div>

      </div>
    </section>
    <!-- End Breadcrumbs -->


    <section class="inner-page">
      <div class="container">
        
        
        <form class="form-horizontal" th:action="@{'/aorder/update/'+${aorder.id}}" method="put">  
	              <div class="col-lg-10">
	                <section class="panel">
	                  <header class="panel-heading">
	                   <b>Edit Aorder Detail</b>
	                  </header>
	                  <div class="panel-body">
	                      
	                      
	                      <div class="form-group">
	                      <label class="control-label col-sm-4">ID</label>
	                      <div class="col-sm-6">
	                      <input name="id" class="form-control" th:value="${aorder.id}" type="text" readonly>
	                      </div>
	                      </div>
	                      
	                      <div class="form-group">
	                        <label class="control-label col-sm-4">Full Name</label>
	
	                        <div class="col-sm-5">
	                          <input name="fname" type="text"  th:value="${aorder.fname}" class="form-control" readonly>
	                        </div>
	                      </div>
	
		                  <div class="form-group">
	                        <label class="control-label col-sm-4">Mobile</label>
	
	                        <div class="col-sm-5">
	                          <input name="mobile" type="text"  th:value="${aorder.mobile}" class="form-control" readonly>
	                        </div>
	                      </div>
	                      
	                      <div class="form-group">
	                        <label class="control-label col-sm-4">Address</label>
	
	                        <div class="col-sm-5">
	                          <input name="address" type="text"  th:value="${aorder.address}" class="form-control" readonly>
	                        </div>
	                      </div>
	                      
						
						<div class="form-group">
                            <label class="control-label col-sm-4">Aircon Service ID</label>
                			<select class="form-control" name="aserviceid"  readonly>
                        <option> Select </option>
                        <option th:each="aservice:${aservice}"
                                th:value="${aservice.id}"
                                th:selected="${aservice.id}==${aorder.aserviceid} ? True: False"
                                th:text="${aservice.sname}">
                        </option>
                    </select>


                      </div>
	                    
	
	                  </div>
	                </section>
			                <section class="panel">
			
				                  <div class="panel-body">
				                    <button type="submit" disabled class="btn btn-success">Save</button>
				                    <a href="/aorder" class="btn btn-warning">Exit</a>
				                  </div>
			                </section>
	              </div>
				</form>
        
      </div>
    </section>

</div>
</body>
</html>